# 1. Let us say your expense for every month are listed below,
1)January - 2200
2)February - 2350
3)March - 2600
4)April - 2130
5)May - 2190
Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [7]:
expense = [2200,2350,2600,2130,2190]

In [8]:
print(expense)

[2200, 2350, 2600, 2130, 2190]

1. In Feb, how many dollars you spent extra compare to January?

In [10]:
print(expense[1]-expense[0])

150

2. Find out your total expense in first quarter (first three months) of the year.

In [11]:
print(expense[0]+expense[1]+expense[2])

7150

3. Find out if you spent exactly 2000 dollars in any month.

In [13]:
for i in range(len(expense)):
    if expense[i]==2000:
        print(expense[i])

                                            OR

In [14]:
print(2000 in expense)

False

4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list

In [18]:
expense.append(1980)
print(expense)

[2200, 2350, 2600, 2130, 2190, 1980, 1980, 1980]

5. You returned an item that you bought in a month of April and got a refund of 200$. Make a correction to your monthly expense list based on this

In [22]:
print("Before returning:",expense[3],"\nAfter returning:",expense[3]-200)

Before returning: 2130
After returning: 1930

# 2]. You have a list of your favourite marvel super heros.
heros=['spider man','thor','hulk','iron man','captain america']
 Using this find out,

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [41]:
heros=['spider man','thor','hulk','iron man','captain america']
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [43]:
print(len(heros))
print(heros)

5
['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [44]:
heros.append('black panther')
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [47]:
#heros.pop(-1)
print(heros)
heros.insert(3,'black panther')
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america']
['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [50]:
#heros[1:3]=['doctor strang']
print(heros)

['spider man', 'doctor strang', 'black panther', 'iron man', 'captain america']

In [51]:
heros.sort()
print(heros)

['black panther', 'captain america', 'doctor strang', 'iron man', 'spider man']

# 3. Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [53]:
n = int(input())
odd = []
for i in range(n+1):
    if i%2 != 0:
        odd.append(i)
print(odd)

10
[1, 3, 5, 7, 9]